header,
footer {
  background-color: #fec2c2b7;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  color: tomato;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 20px;
}

.photo {
  margin: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #f8f5f5ab;
  border-radius: 8px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  margin-top: 10px;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  color: rgb(104, 30, 179);
}
